<form>
  <div class="form-group">
    <label for="playerName">Player Name</label>
    {{input id="playerName" class="form-control" value=playerName}}
  </div>
  <button class="btn btn-info" {{action 'add'}}>Add</button>
</form>
