<table class="table table-striped table-bordered" style="width:50%">
  <tbody>
    <tr>
      <th>Shot #</th>
      <th>Scored?</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>2</td>
      <td>No</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>
